*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_plan_div{
    background-color: black;
    color: white;
    z-index: 2;
}

.plan_flex{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
}

.plan_box{
    background-color: #484646;
    width: 20rem;
    padding: 2rem 2rem;
}

.plan_box:hover{
    cursor: pointer;
    background-color: #2fff4e;
    transition:all 0.7s ease-in-out;
    color: black;
    transform: scale(1.07);
}

.planmain_icon{
    font-size: 1.5rem;
}

.under_planbox>h5{
    text-transform: uppercase;
    margin: 1rem 0;
}

.under_planbox>h1{
    margin: 1rem 0;
}


.three_line{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
}

.div_line{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    align-items: center;
}

.text_arrow{
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.arrow{
    font-size: 1rem;
}

.Join_plan{
    background-color: white;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 1.2rem;
    padding: 0.5rem 0;
    margin: 1rem 0;
    cursor: pointer;
}

@media screen and (max-device-width: 640px){
    .plan_flex{
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
}

@media screen and (max-device-width: 376px){
    .under_planbox > h5{
        font-size: 0.7rem;
    }

    .planmain_icon{
        font-size: 1rem;
    }

    .under_planbox > h1{
        font-size: 1.5rem;
    }

    .div_line>h4{
        font-size: 0.8rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .text_arrow>h5{
        font-size: 0.9rem;
    }

    .Join_plan{
        font-size: 1rem;
    }

    .plan_box{
        width: 15rem;
    }

}
