* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_whyus_div {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    color: white;
    background-color: black;
    padding: 3rem 4rem;
}

.left_whyus {
    display: flex;
    flex-direction: column;
}

.img_whyus {
    display: flex;
    justify-content: center;
    align-items: center;
}

.one {
    width: 18rem;
    height: 10rem;
    margin: 0.5rem 0.5rem;
}

.one:hover {
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.two {
    width: 18rem;
    height: 10rem;
    margin: 0.5rem 0.5rem;
}

.two:hover {
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.three {
    width: 18rem;
    height: 22.8rem;
    margin: 0.5rem 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.three:hover {
    transform: scale(1.03);
    transition: all 0.3s ease-in-out;
    cursor: pointer;
}

.text_whyus h5 {
    text-transform: uppercase;
}

.text_whyus>h5 {
    color: #2fff4e;
}

.text-head {
    margin: 1rem 0;
}

.txt_bd {
    font-weight: bold;
}

.bold {
    font-weight: bold;
    font-size: 2.5rem;
}

.for_sec {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin: 1rem 0;
}

.tick_text {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.right_icon {
    color: #2fff4e;
    font-size: 1.5rem;
}

.our_text {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1.5rem;
    color: #514f4f;
    margin: 1rem 0;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    margin: 1.5rem 0;
}

.sports_icon {
    font-size: 2.5rem;
    color: #514f4f;
}

@media screen and (max-width: 900px) {
    .main_whyus_div {
        display: flex;
        flex-direction: column;
    }

    .text_whyus {
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
}


@media screen and (max-width: 480px) {
    .one {
        width: 15rem;
        height: 8rem;
        z-index: 1;
    }

    .two {
        width: 15rem;
        height: 8rem;
        z-index: 1;
    }

    .three {
        display: none;
    }
}

@media screen and (max-width: 376px) {

    .text_whyus>h5:nth-child(1) {
        font-size: 1rem;
    }

    .text_whyus h5 {
        font-size: 0.66rem;
    }

    .hero_btn {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (max-width: 320px) {
    .text_whyus h5 {
        font-size: 0.56rem;
    }

    .right_icon {
        font-size: 1rem;
    }
}